
body {
    font-family: 'Muli', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.header {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.nav {
    max-width: 1110px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.nav--left {
    margin-top: 20px;
}

.nav--right {
    margin-top: 20px;
}

.logo {
    max-width: 90px;
    width: 100%;
}

.nav__list { 
    width: 100%;
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
}

.nav__link {
    list-style: none;
    display: inline-flex;
    justify-content: flex-end;
    margin-right: 30px;

}

.nav__link>a {
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav__link>a:first-of-type {
    margin-left: 30px;
}

.nav__link>a:hover {
    background-color: #4A4FF2;
    border-radius: 5px;
    text-decoration: underline;
    color: rgb(241, 240, 240);
}